body {
  background: linear-gradient(rgb(74, 74, 144), grey);
  
}

h1, h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: lightgreen;
}

.svg-container {
  text-align: center;
}

.bar:hover {
  fill: coral;
}