.svg-container {
  text-align: center;
}

.bar:hover {
  fill: lightcoral;
}

.container {
  width: 80px;
  height: 40px;
  background-color: lightcoral;
  z-index: 9999;
  opacity: 0;
  position: absolute;
  top: 250px;
  text-align: center;
  padding-top: 4px;
  border-radius: 10px;
}



 